@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap");
header {
  background-color: #a5a5a5;
  padding: 16px;
  text-align: center;
}
header .logo {
  width: 200px;
}
header .NavBar {
  font-family: "Pixelify Sans", sans-serif;
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-size: 18px;
}
header .NavBar a {
  text-decoration: none;
  color: #c4040c;
}
header .NavBar a:hover {
  color: #4d4d4d;
}

@media screen and (min-width: 600px) {
  header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
  header .NavBar {
    width: 50%;
    display: flex;
    justify-content: space-around;
  }
}
footer {
  background-color: #a5a5a5;
  padding: 16px;
  text-align: center;
  background-color: #464646;
  font-family: "Pixelify Sans", sans-serif;
}
footer .social-media {
  display: flex;
  justify-content: space-around;
  margin-bottom: 24px;
}
footer .social-media a i {
  color: #c4040c;
  font-size: 40px;
}
footer .social-media .fa-square-github:hover {
  color: #171515;
}
footer .social-media .fa-linkedin:hover {
  color: #0e76a8;
}
footer .social-media .fa-square-twitter:hover {
  color: #00acee;
}
footer .social-media .fa-square-instagram:hover {
  width: 35px;
  content: url(../../images/instagram.png);
}

.info {
  color: white;
}
.info p {
  font-size: 16px;
  margin: 5px 0;
}

@media screen and (min-width: 600px) {
  footer .social-media {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}
body {
  margin: 0;
  background-color: #a5a5a5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main {
  display: flex;
  justify-content: space-between;
}
main .sidecolumn {
  width: 25%;
}
main .Contactme {
  height: 50dvh;
  padding: 6px;
  border: solid black;
  border-radius: 12px;
  width: 50%;
  box-shadow: 8px 8px 5px black;
}
main .Contactme #Form-Element-name {
  margin: 0px;
  display: flex;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
}
main .Contactme #Form-Element-name #message {
  align-items: bottom;
  width: 30%;
  display: flex;
}
main .Contactme .input {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}
main .Contactme textarea {
  resize: none;
}
@media screen and (max-width: 600px) {
  main {
    display: flex;
    justify-content: space-between;
  }
  main .sidecolumn {
    display: flex;
    width: 25%;
  }
  main .Contactme {
    display: flex;
    height: 75%;
    justify-content: center;
    margin: 12px;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
  }
  main .Contactme #Form-Element-name {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  main .Contactme .input {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  main .Contactme textarea {
    resize: none;
    height: 90%;
  }
}/*# sourceMappingURL=contact.css.map */