@import "../defaults/colors";
@import "../defaults/breakpoint";
@import "../attributes/header";
@import "../attributes/footer";
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');

body {
    margin: 0;
    background-color: #a5a5a5;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
    main{    
        display: flex;
        justify-content: space-between;
    .sidecolumn { 
        width: 25%;  
    }
    .Contactme {
        height: 25vh;
        padding: 24px;
        border: solid black;
        border-radius: 12px;
        width: 50%;
        box-shadow: 8px 8px 5px black;    
        
        #Form-Element {
            margin: 12px;
            display: flex;
            border-radius: 8px;
            justify-content: center;
            align-items: center;
            
            & #message {
              align-items: bottom;
              width: 30%;
              display: flex;  
            }
    }
}

}
