@import "../defaults/colors";
@import "./background";
@import "../defaults/breakpoint";

footer {
    @include background-stuff();
    background-color: #464646;
    .social-media {
        display: flex;
        justify-content: space-around;
        margin-bottom: 24px;

        a {
            i {
                color: $secondary-color;
                font-size: 40px;
            }
        }
    }

    .info {
        color: $secondary-color;

        p {
            font-size: 24px;
            margin: 5px 0;
        }
    }
}

@media screen and (min-width: $medium) {
    footer {
        .social-media {
            width: 50%;
            margin-left: auto;
            margin-right: auto;
        }
    }
}